@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --bg: #ccd4bf;
  --surface: #e7e9e4;
  --border: #1f301e;
  --text: #1f301e;
  --text-dim: #1f301e;
  --accent: #1f301e;
  --accent-dim: #1f301e;
  --speaker-color: #1f301e;
}

#speaker {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

#dialogue-text {
  font-family: "Roboto Slab";
  font-size: 1.1rem;
}

#choices button {
  font-family: "Roboto Slab";
  font-size: 1rem;
  border: 2px solid #9eaa99;
  border-radius: 2px;
}

#choices button:hover {
  border-color: var(--accent);
  color: var(--text);
  background: #deebd2;
}

#continue-hint {
  font-family: "Oswald", sans-serif;
  font-size: 0.8rem;
}

.next-button {
  font-family: "Roboto Slab";
  font-weight: 100;
  font-size: 1rem;
}

.test-title {
  font-family: "Oswald", sans-serif;
  font-size: 2.3rem;
}