#crab {
    position: absolute;
    width: 256px;
    height: 172px;
    left: 75%;
    bottom: 15%;
    scale: 1.3;
    border: none;
    cursor: pointer;
}

#trex {
    position: absolute;
    width: 896px;
    height: 742px;
    bottom: 23%;
    left: -2%;
    scale: 1;
    border: none;
    cursor: pointer;
}

#trex:hover{
    scale: 1.1; 
    left: 0%;
}

.meteor {
    position: absolute;
    width: 257px;
    height: 238px;
    left: 55%;
    bottom: 75%;
    scale: 1;
    border: none;
    background-image: url('media/meteor1.png');
    cursor: pointer;

    animation: meteorChange 1.2s infinite;
}

.meteor:hover {
    scale: 1.1;
}

@keyframes meteorChange {
  from {background-image: url('media/meteor1.png');}
  to {background-image: url('media/meteor2.png');}
}

.parallax-full {
    position: absolute;
    left: -2vw;
    top: -2vh;
    width: 103vw;
    height: 103vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg { background-image: url('media/sky.png');}

.red-sky { background-image: url('media/redSky.png');}

.clouds { background-image: url('media/clouds.png');}

.mountain { background-image: url('media/mountain.png');}

.back-forest-1 { background-image: url('media/backForest1.png');}

.back-forest-2 { background-image: url('media/backForest2.png');}

.ground { background-image: url('media/ground.png');}

.back-tree-1 { background-image: url('media/backTree1.png');}

.back-tree-2 { background-image: url('media/backTree2.png');}

.front-tree-1 { background-image: url('media/frontTree1.png');}

.front-tree-2 { background-image: url('media/frontTree2.png');}

.front-leaf-1 { background-image: url('media/frontLeaf1.png');
    width: 104vw;
    height: 104vh;}

.front-leaf-2 { background-image: url('media/frontLeaf2.png');
    width: 104vw;
    height: 104vh;}

.palm-1 { background-image: url('media/palm1.png');
    width: 104vw;
    height: 104vh;    
    top: 3%;
}

.palm-2 { background-image: url('media/palm2.png');
    width: 104vw;
    height: 104vh;
}

.palm-3 { background-image: url('media/palm3.png');
    width: 104vw;
    height: 104vh;}

.bush-1 { background-image: url('media/bush1.png');
    width: 104vw;
    height: 104vh;
    top: 3%;
}

#crab:hover {
    scale: 1.5;
}

#dino:hover {
    scale: 1.04;
}

@keyframes growLoop {
  from {scale: 0.8;}
  to {scale: 1;}
}

#exclaim {
    position: absolute;
    width: 72px;
    height: 115px;
    left: 75%;
    bottom: 30%;
    scale: 0.8;
    border: none;
    background-image: url('media/exclaim.png');

    animation-name: growLoop;
    animation: growLoop 1s ease infinite alternate;
}
