@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --bg: #e4ddbf;
  --surface: #f3efeb;
  --border: #100929;
  --text: #100929;
  --text-dim: #100929;
  --accent: #100929;
  --accent-dim: #100929;
  --speaker-color: #100929;
}

#speaker {
  font-family: "Rubik Dirt", system-ui;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

#dialogue-text {
  font-family: "Roboto Slab";
  font-size: 1.1rem;
}

#choices button {
  font-family: "Roboto Slab";
  font-size: 1rem;
}

#choices button:hover {
  border-color: var(--accent);
  color: var(--text);
  background: #dde9da;
}

#continue-hint {
  font-family: "Rubik Dirt", system-ui;
  font-size: 0.8rem;
}

.next-button {
  font-family: "Roboto Slab";
  font-weight: 100;
  font-size: 1rem;
}

.test-title {
  font-family: "Rubik Dirt", system-ui;
  font-size: 2.3rem;
}