img {
  image-rendering: smooth; /* For images scaled up, preserves pixels */
}

#crab {
  position: absolute;
  width: 256px;
  height: 350px;
  left: 62%;
  bottom: 3%;
  scale: 1.3;
  border: none;
  cursor: pointer;
}

#crab:hover {
  scale: 1.5;
}

#war {
  position: absolute;
  width: 500;
  height: 400px;
  left: 20%;
  bottom: 0%;
  scale: 1.3;
  border: none;
  cursor: pointer;
}

#war:hover {
  scale: 1.4;
}

#church {
  position: absolute;
  width: 700;
  height: 500px;
  left: 62%;
  bottom: 22%;
  scale: 1.3;
  border: none;
  cursor: pointer;
}

#church:hover {
  scale: 1.4;
}

.parallax-full {
  position: absolute;
  left: -2vw;
  top: -1.5vh;
  width: 103vw;
  height: 103vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg { background-image: url('../medieval/media/sky.png');}

.ground1 { background-image: url('../medieval/media/ground1.png');}

.ground2 { background-image: url('../medieval/media/ground2.png');}

.castle { background-image: url('../medieval/media/castleBack.png');}

.trees {
  width: 105vw;
  height: 105vh; 
  top: -3vh;
  background-image: url('../medieval/media/treesForeground.png');
}
