.bg {
    background-image: url('/data/outro/media/nightSky.png');
}

.beach {
    background-image: url('/data/outro/media/beachNight.png');
}

.ocean {
    background-image: url('/data/outro/media/oceanNight.png');
    animation-name: oceanWaves;
    animation: oceanWaves 4s ease-in-out infinite alternate;
}

.back-hills {
    background-image: url('/data/outro/media/nightCliffFar.png');
}

.far-trees {
    background-image: url('/data/outro/media/nightTrees.png');
}

#front-hill {
    background-image: url('/data/outro/media/nightCoastSideRocks.png');
    width: 107vw;
    height: 107vh;
    top: -1%;
    left: -5%;
}


@keyframes oceanWaves {
  from {width: 110vw;}
  to {width: 115vw;}
}

#close-rocks {
    background-image: url('/data/outro/media/nightCloseRocks.png');
}

#mid-rocks {
    background-image: url('/data/outro/media/nightMidRocks.png');
}

#far-rocks {
    background-image: url('/data/outro/media/nightFarRocks.png');
}

#crab {
    position: absolute;
    width: 256px;
    height: 172px;
    left: 14%;
    bottom: 11%;
    scale: 1;
    border: none;
    cursor: pointer;
}

#moon {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -5%;
    left: 34%;
    bottom: 210px;
    scale: 0.4;
    cursor: pointer;
}

#crab:hover {
    scale: 1;
}

#moon:hover {
    scale: 0.42;
}

@keyframes birdFly {
  from {top: 10%;}
  to {top: 12%;}
}

#dialogue-box {
  border: 2px solid var(--border);
  border-radius: 5px;
}

#choices button {
  border-radius: 5px;
}