.bg {
    background-image: url('../images/coastSky.png');
}

.beach {
    background-image: url('../images/coastBeach2.png');
}

.ocean {
    background-image: url('../images/testOceanrender.png');
    animation-name: oceanWaves;
    animation: oceanWaves 4s ease-in-out infinite alternate;
}

.back-hills {
    background-image: url('../images/rockyCliffFar.png');
}

.far-trees {
    background-image: url('../images/farTrees.png');
}

#front-hill {
    background-image: url('../images/coastSideRocks.png');
    width: 105vw;
    height: 105vh;
    top: -1%;
    left: -4%;
}


@keyframes oceanWaves {
  from {width: 110vw;}
  to {width: 115vw;}
}

#close-rocks {
    background-image: url('../images/closeRocks.png');
}

#mid-rocks {
    background-image: url('../images/midRocks.png');
}

#far-rocks {
    background-image: url('../images/farRocks.png');
}

#crab {
    position: absolute;
    width: 256px;
    height: 172px;
    left: 30%;
    bottom: 210px;
    cursor: pointer;
}

#crab:hover {
    scale: 1.2;
}